body {
  background: #f3d940;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.App {
  text-align: center;
}

.TodoHome-main {
  background: #926000;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 5px 4px 4px #5a5f0e;
}

h1{
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-weight:bold;
}

.Form-main {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1.5px solid #f3d940;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #fdfdfdad;
}

.todo-btn {
  background: #f3d940;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}


.Todolist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3d940;
  color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}
.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 


